@import url("reset.css");

:root {
  --clr-backfill: #EAE7DC;
  --clr-text: white;
  --clr-background: #18181b;
  --clr-link: black;
}
body {
  background-color: var(--clr-backfill);
  color: var(--clr-text);
  font-family: 'Cairo', sans-serif;
  transition: all ease 250ms;
}

h1, h2, h3 {
  font-family: "Noto Serif", serif;
  text-transform: capitalize;
  font-weight: bold;
}

header{
    margin: 1.25em;
    color: black;
    padding: 12px;
}
@media screen and (max-width: 959px) {
  
  header {
    display: flex;
    justify-content: center;
  }
}
header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}
header h1 {
  font-size: 2.5em;
}

main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    img{
        width: 250px;
        height: 250px;
    }
    @media screen and (max-width: 959px) {
      img {
        display: none;
      }
      
    }
    

.login-form {
    background: var(--clr-background);
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    width: 600px; /* Adjust as needed */
    margin-left: 100px;
    text-align: center;
  }
  @media screen and (max-width: 959px) {
    .login-form {
      margin: 0 40px;
    }
  }
  .login-form h2 {
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .input-group input {
    color: var(--clr-text);
    width: calc(100% - 20px); /* Input width taking padding into account */
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
  }
  
  /* Styling for the input fields to have a gradient or some effect like in the image */
  .input-group input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
  }
  
  .invalid, .empty {
    margin-top: 4px;
    color: #cc0000;
  }
  .invalid {
    text-align: center;
  }
  .empty {
    text-align: start;
  }
  .hide {
    display: none;
  }
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #d2a679; 
    color: var(--clr-link); 
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b98c5d; /* Darken the button color on hover */
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }