@import url("reset.css");

:root {
  --clr-backfill: #EAE7DC;
  --clr-text: white;
  --clr-background: #18181b;
  --clr-link: black;
}

body {
    background-color: var(--clr-backfill);
    color: var(--clr-text);
    font-family: 'Cairo', sans-serif;
    transition: all ease 250ms;
}
  
h1, h2, h3 {
    font-family: "Noto Serif", serif;
    text-transform: capitalize;
    font-weight: bold;
}
  
header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.25em;
      color: black;
      padding: 12px;
}
header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: fit-content;
}
header h1 {
  font-size: 2.5em;
}
header a {
    background-color: #d2a679;
    text-decoration: none;
    text-align: center;
    width: 60px;
    padding: 12px;
    color: var(--clr-link);
    border-radius: 30px;
}

header form {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 400px;
    padding: 7px;
    border-radius: 22px;
    background-color: #f6f6f6;
}

header #search {
    
    margin-left: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
}