@import url("reset.css");
:root {
    --clr-backfill: #EAE7DC;
    --clr-text: black;
    --clr-background: #18181b;
    --clr-link: black;
  }

body {
    background-color: var(--clr-backfill);
    color: var(--clr-text);
    font-family: 'Cairo', sans-serif;
    transition: all ease 250ms;
}
  
h1, h2, h3 {
    font-family: "Noto Serif", serif;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
}
  
header{
    display: grid;
    grid-template-columns: auto  auto;
      justify-content: space-between;
      align-items: center;
      margin: 1.25em;
      color: black;
      padding: 12px;
}
header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: fit-content;
}
header h1 {
  font-size: 2.5em;
}
header a {
    background-color: #d2a679;
    text-decoration: none;
    text-align: center;
    width: 60px;
    padding: 12px;
    color: var(--clr-link);
    border-radius: 30px;
}

.hide {
    display: none;
}



form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

form button {
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 70px;
    width: 90px;
    margin-top: 8px;
    margin-left: 30px;
    cursor: pointer;
}
@media screen and (max-width: 798px) {
    form {
        flex-direction: column-reverse;

    }
    form button {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.selection-container {
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: fit-content;
  

    h1{
        font-size: clamp(1rem, 1.3vw, 2rem);
    }
  }
  @media screen and (max-width: 798px) {
    .selection-container {
        flex-direction: column;
    }
  }
  
  .selection-option {
    display: block;
    background: #e9e9e9;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    font-size: clamp(1rem, 1.2vw, 2rem);
  }
  
  .selection-option:hover,
  .selection-option:focus {
    background-color: #d0d0d0;
  }
  
 
  input[type="radio"]:checked + label {
    background-color: #000000;
    color: white;
  }

  section .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #c9c2a5;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 110px;
    overflow: hidden;
}

.card img {
    height: 167px;
    width: 250px;
}
.card  p {
    font-weight: bold;
}


.sold{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(213, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
}

.on-sale{
    background-color: green;
}

.card button {
    outline: none;
    border: none;
    width: 70px;
    height: 34px;
    background-color: var(--clr-background);
    color: white;
    border-radius: 13px;
    cursor: pointer;
    
}

.card button:hover {
    color: #d2a679;
}


.items{
    display: flex;
    justify-content: center;
}

.item-details{
    display: flex;
    background-color: var(--clr-backfill);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    height: 600px;
    width: 700px;
    width: fit-content;
    img{
        width: 60%;
        max-width: 400px;
        min-width: 200px;
        height: auto;
    }


}
.details{
    font-size: clamp(1.3rem, 1.2vw, 2rem);
    display: grid;
    place-items: center;
    width: 300px;
}



  @media screen and (max-width: 798px){

    .item-details{
        margin-bottom: 30px;
    }

    .item-details{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .details{
        gap: 30px;
    }
}

.go-back {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px;
    background-color: #d2a679;
    cursor: pointer;
}
.go-back:hover {
    background-color: #b98c5d;
}